*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   display: grid;
   height: 100vh; 
   grid-template-rows: auto auto ;
   grid-template-areas: 
   'h'
   'm'
   'm'
   'm'
   'f'
   ;
   grid-gap: 5px;
   background-color:yellowgreen;
   text-align: center;
   padding: 20px;
   
}
header{
    grid-area: h;
    width: 100%;
    background-color: palegreen;
    height: 100%;
    border: solid black;
    font-size: 3rem;
    font-weight: bolder;
}
main{
    
    grid-area: m;
    width: 100%;
    height: 100%;
}
article{
    display: grid;
    grid-template-areas:
     's1 a1'
     's2 a2'
     's3 .'
    ;
    height: 100%;
    width: 100%;
    grid-gap: 5px;
}
section{
    background-color: orange;
    border: solid green;
    font-size: 3rem;
    font-weight: bolder;
    

}

aside{
    background-color: orangered;
    border: solid rgb(19, 20, 17);
    font-size: 3rem;
    font-weight: bolder;
    
}
footer{
    grid-area: f;
    width: 100%;
    
    display: grid;
    grid-template-areas:
     'n1 n2';
     font-size: 3rem;
    font-weight: bolder;
    grid-gap: 5px;
    
}

#sec1{grid-area: s1;}
#sec2{grid-area: s2;}
#sec3{grid-area: s3;}
#aside1{grid-area: a1;}
#aside2{grid-area: a2;}
#nav1{grid-area: n1;
    border: solid black;
    width: 100%;
    background-color: palevioletred;}
#nav2{grid-area: n2;
    border: solid black;
    width: 100%;
    background-color: palevioletred;}